$colors: (
    primary: rgb(255, 112, 35),
    primary-light: rgb(255, 147, 31),
    warning: rgb(255, 147, 31),
    error: rgb(219, 57, 57),
    success: rgb(39, 184, 95),
    info: rgb(42, 149, 226),
    dark: hsl(0%, 0%, 13%),
    dark-lighter: rgb(59, 59, 59),
    light: rgb(243, 243, 243),
    disabled: rgb(173, 173, 173),
    text: rgb(243, 243, 243),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
};

$size: (
    windowWidth: 840px,
    windowHeigth: 700px,

    containerWidth: calc(420px - 18px),
    containerHeight: calc(650px - 24px),

    componentBorderRadius: 3px,
);

@function size($size-name) {
    @return map-get($size, $size-name);
};